
add:
{
	"classname" "prop_physics"
	"origin" "3441 6214 -945"
	"angles" "0 -10 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"fadescale" "0"
}
{
	"classname" "prop_physics"
	"origin" "3297 4955 -945"
	"angles" "45 160 0"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"fadescale" "0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "3400 4955 -945"
	"angles" "0 180 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
}
filter:
{
	"classname" "func_button"
}
;第一辆车挡板
add:
{
	"model" "models/props_urban/fence_cover001_128.mdl"
	"origin" "6122.38 8304.56 -615.23"
	"angles" "-135.00 -12.00 0.00"
  	"solid" "6"
	"disableshadows" "1"
	"classname" "prop_dynamic_override"
}
add:
{
	"model" "models/props_urban/fence_cover001_128.mdl"
	"origin" "6227.66 8275.96 -537.07"
	"angles" "-127.00 -14.00 0.00"
	"solid" "6"
	"disableshadows" "1"
	"classname" "prop_dynamic_override"
}
;斜坡火车
add:
{
	"origin" "1070 1420 -1700"
	"classname" "prop_dynamic_override"
	"angles" "0 -180 150"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "1460 1490 -1700"
	"classname" "prop_dynamic_override"
	"angles" "0 -150 120"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "1710 1777 -1640"
	"classname" "prop_dynamic_override"
	"angles" "20 -120 90"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "1800 2138 -1435"
	"classname" "prop_dynamic_override"
	"angles" "40 -90 90"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "1875 2422 -1197"
	"classname" "prop_dynamic_override"
	"angles" "40 -120 70"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "2080 2627 -1050"
	"classname" "prop_dynamic_override"
	"angles" "20 -150 10"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "2390 2780 -980"
	"classname" "prop_dynamic_override"
	"angles" "0 -160 0"
	"model" "models/props_urban/dumpster001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;叉车
add:
{
	"origin" "2300 2743 -970"
	"classname" "prop_dynamic_override"
	"angles" "0 -70 0"
	"model" "models/props/cs_assault/forklift.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "2444 2800 -970"
	"classname" "prop_dynamic_override"
	"angles" "0 -70 0"
	"model" "models/props/cs_assault/forklift.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "prop_dynamic_override"
	"solid" "6"
	"disableshadows" "1"
	"model" "models/props/cs_assault/forklift.mdl"
	"origin" "2034.00 2632.00 -1060.00"
	"angles" "7.00 99.00 -20.00"
}
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/footlocker01_open.mdl"
	"origin" "2188.00 2727.00 -940.00"
	"angles" "21.00 -148.00 13.00"
	"solid" "6"
	"disableshadows" "1"
}
;火车内柴
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/logpile2.mdl"
	"origin" "1790.00 2432.00 -1227.00"
	"angles" "40 -120 70"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/logpile2.mdl"
	"origin" "1876.00 2529.00 -1114.00"
	"angles" "40 -120 70"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/logpile2.mdl"
	"origin" "1805.00 2465.00 -1164.00"
	"angles" "40 -120 70"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/logpile2.mdl"
	"origin" "1914.00 2568.00 -1075.00"
	"angles" "40 -120 70"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/logpile2.mdl"
	"origin" "1785.00 2360.00 -1270.00"
	"angles" "40 -120 70"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "prop_dynamic_override"
	"model" "models/props/cs_militia/logpile2.mdl"
	"origin" "1760.00 2356.00 -1285.00"
	"angles" "40 -120 70"
	"solid" "6"
	"disableshadows" "1"
}
;火车内尸体
add:
{
	"origin" "1595 1685 -1750"
	"classname" "prop_dynamic_override"
	"angles" "-25 60 0"
	"model" "models/deadbodies/dead_male_civilian_01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;火车下方踮脚箱
add:
{
	"origin" "1214 1317 -1820"
	"classname" "prop_dynamic_override"
	"angles" "0 0 0"
	"model" "models/props/cs_militia/boxes_frontroom.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;斜坡堆
add:
{
	"origin" "1767 2505 -1210"
	"classname" "prop_dynamic_override"
	"angles" "-45 90 0"
	"model" "models/props_debris/concrete_debris128pile001a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "1767 2605 -1100"
	"classname" "prop_dynamic_override"
	"angles" "-45 90 0"
	"model" "models/props_debris/concrete_debris128pile001a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;直升飞机
{
	"origin" "1410 1865 -1481"
	"classname" "prop_dynamic_override"
	"angles" "0 -160 0"
	"model" "models/props_vehicles/helicopter_news_downed.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;广告牌前白车尸体
add:
{
	"origin" "3390 7107 -606"
	"classname" "prop_dynamic_override"
	"angles" "0 -100 0"
	"model" "models/deadbodies/dead_male_civilian_01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "3360 7140 -660"
	"classname" "prop_dynamic_override"
	"angles" "-90 -30 0"
	"model" "models/deadbodies/dead_male_civilian_02.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"classname" "env_physics_blocker"
	"origin" "3362 7090 -550"
	"angles" "0 0 0"
	"mins" "-22 -22 -20"
	"maxs" "22 22 150"
	"BlockType" "1"
	"initialstate" "1"
}
add:
{
	"classname" "env_physics_blocker"
	"origin" "3373 7162 -550"
	"angles" "0 0 0"
	"mins" "-22 -22 -20"
	"maxs" "22 22 150"
	"BlockType" "1"
	"initialstate" "1"
}
;天桥角落空气墙
add:
{
	"classname" "env_physics_blocker"
	"origin" "3662 6750 -666"
	"angles" "0 0 0"
	"mins" "-22 -22 -20"
	"maxs" "22 22 150"
	"BlockType" "1"
	"initialstate" "1"
}
;火车头技板
add:
{
	"model" "models/props_urban/fence_cover001_128.mdl"
  	"origin" "962.31 1613.76 -1733.73"
	"angles" "64.00 -84.00 2.00"
  	"solid" "6"
	"disableshadows" "1"
	"classname" "prop_dynamic_override"
}
add:
{
	"model" "models/props_urban/fence_cover001_128.mdl"
	"origin" "963.02 1609.86 -1731.20"
	"angles" "119.00 93.00 0.00"
	"solid" "6"
	"disableshadows" "1"
	"classname" "prop_dynamic_override"
}
;广告牌挡路车
add:
{
	"origin" "2294 6539 -660"
	"classname" "prop_dynamic_override"
	"angles" "0 60 9"
	"model" "models/props_vehicles/airport_fuel_truck.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;安全屋栅栏
add:
{
	"origin" "-976 -2457 -1080"
	"classname" "prop_dynamic_override"
	"angles" "0 90 0"
	"model" "models/props/de_inferno/wood_fence.mdl"
	"solid" "6"
	"disableshadows" "1"
}
add:
{
	"origin" "-976 -2457 -1020"
	"classname" "prop_dynamic_override"
	"angles" "0 90 0"
	"model" "models/props/de_inferno/wood_fence.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;广告牌打胶车
add:
{
	"origin" "2711 6275 -950"
	"classname" "prop_dynamic_override"
	"angles" "-10 -90 0"
	"model" "models/props_vehicles/church_bus01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;去除生还者模式墙
filter:
{
	"hammerid" "3577978"
}
{
	"hammerid" "3580634"
}
{
	"hammerid" "11008"
}
{
	"hammerid" "3578052"
}
{
	"hammerid" "3577950"
}
modify:
{
	match:
	{
		"hammerid" "3580214"
	}
	delete:
	{
	"OnSurvivalPostIO" "relay_setup_survivalTrigger0-1"
	"OnSurvival" "survival_nav_blockerBlockNav0-1"
	"OnSurvival" "relay_survivor_spawnTrigger0-1"
	}
}
;阴间传送区域
modify:
{
	match:
	{
		"hammerid" "11010"
	}
	delete:
	{
		"OnTrigger" "survival_teleporterTeleport0-1"
	}
}
;GHOST专用复活点
;1终点安全屋前
add:
{
	"classname" "env_physics_blocker"
	"origin" "-1366 -2729 -1000"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;2终点警报车前
add:
{
	"classname" "env_physics_blocker"
	"origin" "-888 -626 -1000"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;3终点坡中段
add:
{
	"classname" "env_physics_blocker"
	"origin" "-1023 373 -1450"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;4终点茅厕前
add:
{
	"classname" "env_physics_blocker"
	"origin" "-1256 1760 -1700"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;5河道中段
add:
{
	"classname" "env_physics_blocker"
	"origin" "316 1171 -1700"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;6火车头
add:
{
	"classname" "env_physics_blocker"
	"origin" "2137 1788 -1700"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;7旅馆后睡袋补给点
add:
{
	"classname" "env_physics_blocker"
	"origin" "1182 2285 -1120"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;8寄了

;9传奇铁位
add:
{
	"classname" "env_physics_blocker"
	"origin" "3500 4700 -920"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;10泳池
add:
{
	"classname" "env_physics_blocker"
	"origin" "2600 4330 -940"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;11加油站顶
add:
{
	"classname" "env_physics_blocker"
	"origin" "2500 5500 -680"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;12压扁了车
add:
{
	"classname" "env_physics_blocker"
	"origin" "3900 7050 -640"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;13装甲车补给点
add:
{
	"classname" "env_physics_blocker"
	"origin" "3340 9020 -920"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;14篝火补给点
add:
{
	"classname" "env_physics_blocker"
	"origin" "5100 7400 -700"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;15第一白卡前
add:
{
	"classname" "env_physics_blocker"
	"origin" "6825 8045 -570"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;16起始点
add:
{
	"classname" "env_physics_blocker"
	"origin" "10000 7881 -430"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}